.container{
    height: 100vh;
    width: 100vw;
    background-color: #253F40;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    height: 80%;
    width: 40%;
    background-color:white;
    border-radius: 20px;
}
.box h3{
    width: 60%;
    margin-left: 35px;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.input-box{
    height:35px;
    width:250px;
    border-radius: 20px;
    /* border: wheat; */
    border: 1px solid silver;
    overflow: hidden;
    display: flex;
    }
.input-box input{
    padding: 0;
    margin: 0;
    height: 100%;
    /* background-color:wheat; */
    width: 90%;
    border: none;
    outline: none;
    /* border-radius: 10px; */
}
.input-box img{
  width: 10%;
}
.header img{
    width: 40%;
    height: 20px;
    width: 20px;
    margin-top: 8px;
}
.list{
    height: 60vh;
    /* background-color: antiquewhite; */
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
}
.conatct-box{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.conatct-box img {
    margin-left: 4px;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.hide-box{
    display: none;
}
.new-box{
    height: 80%;
    width: 40%;
    background-color:white;
    border-radius: 20px;   
    text-align: center;
}
.new-box input {
    height: 35px;
    width: 250px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
}
.success{
    color: #bd7070;
}